p{
                margin-top:0;
             }
             body{
               margin:0;
               padding-top: 80px;
               padding-left: 275px;
               background-color: rgb(240, 240, 240);
             }