.thumbnail{
              width:100%;
}
             
             .grid{
               display:grid;
               grid-template-columns: 1fr 1fr 1fr 1fr;
               row-gap: 20px;
               column-gap: 15px;
             }
             .box{
                width:100%;
             }
             .thumb{
                margin-bottom:15px;
                position:relative;
             }
             
             .protext{
               display:grid;
               grid-template-columns: 36px 1fr;
               column-gap: 10px;
             }
             
             .text{
                font-family:"Roboto",arial;
                
             }
             .p1{
                font-weight:bold;
                font-size:15px;
                margin-bottom:10px;
             }
             .p2,p3{
                font-size:13px;
                margin-top:0;
                margin-bottom:4px;
             }
             .pro{
                width:100%;
                border-radius:40px;
             }
             .time{
                font-family:"Roboto",arial;
                border-radius: 2px;
                
                padding: 1px 2px;
               background-color: black;
               color:white;
               position: absolute;
               right:5px;
               bottom:10px;
               font-size: 13px;
             }
         @media(max-width:800px){
            .grid{
               grid-template-columns: 1fr 1fr;
            }
         }
         @media(min-width:801px) and (max-width:999px){
            .grid{
               grid-template-columns: 1fr 1fr 1fr ;
            }
         }
          @media(min-width1000px){
            .grid{
               grid-template-columns: 1fr 1fr 1fr 1fr;
            }
         }